<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Blogz</title>
</head>
<body>

    <nav>
        <img src="/media/logo.png" alt="">
        <ul>
            <li>Home</li>
            <li>Blogs</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>