
<form class="form-1" action="/submit" method="POST">
    <div class="txt-box">
        <input placeholder="Title" type="text" class="inp-0">
        <input placeholder="Blog text" type="text" class="inp-1">
    </div>
    <input type="submit" value="post" class="inp-2">
</form>